html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    background-color: #c6c6c6;
}

canvas {
    border: 1px solid black;
    background-color: #ccc;
}

.enemy {
    transform: rotate(180deg);
}
